extends layout

block content
  .bg-primary.pt-5.pb-5.text-white(style='border-radius: 0 0 3rem 3rem;')
    .container
      .d-lg-flex.justify-content-center.text-center.text-lg-start
        .pe-0.pe-lg-5
          img.rounded-circle(src='images/profile-pic.jpg', height='192')
        .my-auto
          p.m-0.pt-2.pt-lg-0 Software Developer
          h1.display-5.m-0.mb-3
            span.fw-bold Vicky
            |  Salim
          a.btn.btn-outline-light.m-1(href='https://linkedin.com/in/vickysalim', target='_blank') LinkedIn
          a.btn.btn-outline-light.m-1(href='https://github.com/vickysalim', target='_blank') GitHub
          a.btn.btn-outline-light.m-1(href='https://wa.me/6281258240640', target='_blank') WhatsApp
  .container
    .mt-5.mb-5
      .border-bottom.border-primary.mb-3
        h3.fw-bold.text-primary About Me
      | I am a passionate software developer with a passion for crafting exceptional web and mobile applications. I have experience in using programming languages such as PHP, JavaScript and Kotlin along with web frameworks such as Laravel, Next.js, Express.js and Tailwind CSS.
      br
      br
      | Additionally, I have a keen interest in UI/UX design and leverage tools like Figma to create intuitive and visually appealing interfaces. By combining my technical skills with a deep understanding of user-centric design principles, I ensure that the applications I develop not only function properly but also provide a great user experience.
      br
      br
      | In addition to my technical skills, I bring leadership abilities to the table with experience to guiding and motivating teams, leveraging my natural communication and collaboration skills to foster a positive work environment.
    .mt-5.mb-5
      .border-bottom.border-primary.mb-3
        h3.fw-bold.text-primary Skills
      span.fw-semibold.text-primary.pe-3 Programming Language
      | PHP, JavaScript, TypeScript, Kotlin, Java, C#
      br
      span.fw-semibold.text-primary.pe-3 Web Frameworks
      | Laravel, Next.js, Express.js, Tailwind CSS, Bootstrap
      br
      span.fw-semibold.text-primary.pe-3 Mobile Frameworks
      | Jetpack Compose
      br
      span.fw-semibold.text-primary.pe-3 Databases
      | MySQL
      br
      span.fw-semibold.text-primary.pe-3 Tools
      | Git, Figma, Unity Engine, Android Studio, Visual Studio Code, Adobe Photoshop, Adobe Illustrator
      .card.mt-3
        .card-body
          span.fw-semibold.text-primary Top Specialization
          br
          | Web Development, Mobile Development, UI/UX Design, Game Development
    .mt-5.mb-5
      .border-bottom.border-primary.mb-3
        h3.fw-bold.text-primary Education
      .border-start.ps-2.mb-3
        span.fw-semibold.fs-5.text-primary Universitas Multi Data Palembang
        br
        | Bachelor's Degree - Information Systems
        br
        | 2020 - present
      .border-start.ps-2
        span.fw-semibold.fs-5.text-primary SMA Xaverius 3 Palembang
        br
        | High School - Social Science
        br
        | 2017 - 2020
    .mt-5.mb-5
      .border-bottom.border-primary.mb-3
        h3.fw-bold.text-primary Experience
      .border-start.ps-2.mb-3
        span.fw-semibold.fs-5.text-primary DVR Project
        br
        | Co-Founder
        br
        | October 2019 - present
      .border-start.ps-2.mb-3
        span.fw-semibold.fs-5.text-primary UKM Programming UMDP
        br
        | February 2022 - present
        .mt-3
        .border-start.ps-2.mb-2
          | Chairman
          br
          | April 2023 - present
        .border-start.ps-2.mb-2
          | Member of Game Development Specialization Field
          br
          | April 2023 - present
        .border-start.ps-2.mb-2
          | Head of Multimedia Division
          br
          | November 2022 - March 2023
        .border-start.ps-2.mb-2
          | Member of Web Development Specialization Field
          br
          | February 2022 - March 2023
      .border-start.ps-2.mb-3
        span.fw-semibold.fs-5.text-primary HIMSI UMDP
        br
        | April 2021 - present
        .mt-3
        .border-start.ps-2.mb-2
          | Head of Research and Development Division
          br
          | June 2023 - present
        .border-start.ps-2.mb-2
          | Deputy Head of Research and Development Division
          br
          | April 2022 - June 2023
        .border-start.ps-2.mb-2
          | Member of IT Planning Division
          br
          | April 2021 - March 2022
      .border-start.ps-2.mb-3
        span.fw-semibold.fs-5.text-primary Bangkit Academy by Google, GoTo, and Traveloka
        br
        | Mobile Development Cohort
        br
        | February 2023 - July 2023
      .border-start.ps-2.mb-3
        span.fw-semibold.fs-5.text-primary Skilvul
        br
        | Game Development Student: MSIB Batch 3 Program
        br
        | August 2022 - December 2022